{% extends 'default_layout.html.twig' %}
{% block content %}
Login Page

use Twig Template Engine

<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-3">

			<div class="card">
				<h2 class="card-header">Login</h2>
				<div class="card-body">
{% endblock %}